%full_size {
  width: 100%;
  height: 100%;
}

::selection {
  background: #6ba2dea1;
}

html {
  @extend %full_size;
}

@keyframes gradient {
  from, to {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}

body {
  @extend %full_size;
  
  margin: auto;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  will-change: background-position;
  background: linear-gradient(315deg, #65005e, #223f5d 38%, #2a4097 68%, #ff1919);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 13s ease infinite;
}

p {
  color: #fff;
  font-size: 6vw;
  font-weight: bold;
  line-height: 1.5;
  transition: color .25s;
  
  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  
  &::before {
    top: 0;
    left: 0;
  }
  
  &::after {
    bottom: 0;
    right: 0;
  }
  
  &:hover {
    color: aqua;
    cursor: none;
    
    &::before,
    &::after {
      @extend %full_size;
    }
    
    &::before {
      border-top-color: aqua;
      border-right-color: aqua;
      transition:
        width .25s ease-out,
        height .25s ease-out .25s;
    }
    
    &::after {
      border-bottom-color: aqua;
      border-left-color: aqua;
      transition:
        border-color 0 ease-out .5s,
        width .25s ease-out .5s,
        height .25s ease-out .75s;
    }
  }
}

sup {
  color: #b9cece;
  display: block;
  font-size: 3vw;
  text-align: center;
  font-weight: normal;
}
