%full_size {
  width: 100%;
  height: 100%;
}

::selection {
  background: #6ba2dea1;
}

html {
  @extend %full_size;
}

@keyframes gradient {
  from, to {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}

body {
  @extend %full_size;
  
  margin: auto;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  will-change: background-position;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 15s ease infinite;
}

p {
  color: #fff;
  font-size: 8vw;
  font-weight: bold;
  line-height: 1.5;
}

sup {
  color: #b9cece;
  display: block;
  font-size: 5vw;
  text-align: center;
  font-weight: normal;
}
