<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@kreusel.email</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" sizes="512x512" href="https://cdn-icons-png.flaticon.com/512/580/580723.png">
  </head>
  <body>
    {{ content }}
  </body>
</html>
